





/*
Map =======================================
*/

#map {
  position: absolute;
  height: 100%;
  width: 100%;
}


/*
Header =======================================
*/

header {
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 99;
}

header, footer {
  height: 10%;
  width: 100%;
}

.brand {
  border-radius: 100%;
  border: 1px solid #eee;
}

.brand:hover,
.brand:active,
.brand:focus {
  border: 1px solid #eee;
  background-color: #fff;
}


.title {
  padding: 0;
  margin: 0;
  text-transform: none;
}

.nav {
  display: inline-block;
}

.nav li {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  vertical-align: middle;
  padding: 1em;
  color: #ddd;
}

.logo-img {
  height: 1.8em;
  width: 1.8em;
  padding: .5em;
  border-radius: 100%;
}

@media (min-width: 1068px) {
  .logo-img {
    height: 3em;
    width: 3em;
  }
}

/*
Footer =======================================
*/

footer {
  position: absolute;
  top: auto;
  bottom: -10%;

  background-color: #444;
}
