<div class="contain black-scrim">
  <nav>
    <ul class="nav navigation pull-left">
      <li>
        <a class="problems" href="/problems"><img class="fixed logo-img brand white-scrim" src="images/icons/zp.png" alt="logo"></a>
      </li>
      <li>
        <h1 class="title">#firstWorldProblems</h1>
      </li>
    </ul>
    <ul class="nav social pull-right">
      <li>
        <a href="https://github.com/zpfled">
          <img class="logo-img" src="images/icons/github-logo.png" alt="github">
        </a>
      </li>
      <li>
        <a href="https://twitter.com/zachpflederer">
          <img class="logo-img" src="images/icons/twitter-logo.png" alt="twitter">
        </a>
      </li>
    </ul>
  </nav>
</div>
